
### STS 开发工具 ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache



### Maven 工具 ###
mvnw
mvnw.cmd
dependency-reduced-pom.xml



### IntelliJ IDEA 开发工具 ###
.idea
*.iws
*.iml
*.ipr



### NetBeans 开发工具 ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/



### Compiled class file 编译文件 ###
*.class
.git



### Log file 日志文件 ###
*.exceptionRecord



### Mobile Tools for Java (J2ME) 手机开发相关工具 ###
.mtj.tmp/



### Package Files 打包文件 ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
target/



### 其他文件 ###
*.ctxt
hs_err_pid*
!.mvn/wrapper/maven-wrapper.jar
.mvn
/tmp/